Language: Cpp
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignOperands: false
AlignTrailingComments: false
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
BreakStringLiterals: false
ContinuationIndentWidth: 2
ColumnLimit: 0
Cpp11BracedListStyle: false
IndentCaseLabels: false
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: false
SpacesInContainerLiterals: false
UseTab: Never
